# Sensitif
.env

# Dependensi
node_modules/
package-lock.json

# Python
**/__pycache__/
*.pyc
api/venv/
.venv/

# Frontend
frontend/dist/
frontend/node_modules/
frontend/package-lock.json
.vercel
dist/
.vscode/

# Data & Docs
docs/
